.body {
    background-color: #8f7d6e;
}

.total {
    background-color: #c1b6ab ;
    width: 700px;
    margin:0 auto;
    padding: 10px;
    }

.header {
    text-align: center;
    font-size: 18px;
}

.color{
    /* color: #8f7d6e; */
    color: #4f443c;
}
.size{
    font-size: 18px;
}
#font{
    font-family: ff-tisa-web-pro-1, ff-tisa-web-pro-2, Georgia, serif;
}

img {
    border-radius: 100px;
}


/* ul.color li::before {
    content: "\2022";
    color: blueviolet;
    font-weight: bold;
    display: inline-block;
    width: 20px;
    margin-left: -1em;
} */

.checked {
    color: yellow;
}

.one{
    background-color:  #8f7d6e;
    padding: 1px;
    width: 9px;
    height: 0px
}
.two{
    padding: 10px;
}
.three{
    color: yellow;
}
.table{
    margin: 0px;
    padding: 4px;
}
#space{
    margin-left: 20px;

}

footer {
    text-align: center;
    color: #4f443c;
}

hr {
    margin-left: -10px;
    margin-right: -10px;
}